<style></style>

<div class="container"></div>

{% schema %}
{
  "name": "Section Name",
  "settings": [],
  "blocks": [
    {
      "type": "type",
      "name": "name",
      "settings": []
    }
  ],
  "presets": [
    {
      "name": "Section Name"
    }
  ]
}
{% endschema %}

{% javascript %}
{% endjavascript %}
