<footer>
  <div class="footer-container">
    <div class="footer__Main">
      <h2>KeyZone</h2>
      <div class="foote__social">
        <i class="fa-brands fa-discord fa-2xl"></i>
        <i class="fa-brands fa-facebook fa-2xl"></i>
        <i class="fa-brands fa-youtube fa-2xl"></i>
        <i class="fa-brands fa-twitch fa-2xl"></i>
      </div>
    </div>
    <span>
      <p>© {{ 'now' | date: '%Y' }} KeyZone. All rights reserved.</p>
    </span>
  </div>
</footer>
